body {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 0;
}
body .app {
  margin: 40px;
}
body .app .add_btn {
  width: 140px;
  height: 50px;
  border: 5px solid #e4e6ea;
  border-radius: 21px;
  opacity: 1;
  cursor: pointer;
}
body .app .cards {
  margin: 128px 158px;
  display: flex;
  flex-wrap: wrap;
}
body .app .cards .card {
  width: 257px;
  height: 160px;
  margin-left: 23px;
  position: relative;
  margin-bottom: 40px;
}
body .app .cards .card_container {
  width: 100%;
  position: absolute;
  height: 149px;
  bottom: 0;
  left: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
body .app .cards .card_container .content {
  margin: 19px 15px 44px;
}
body .app .cards .card_container .content .boost {
  width: 59px;
  height: 22px;
  text-align: left;
  border-radius: 100px;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
  border: 2px solid #3c3c3c;
  font: normal normal normal 10px/11px Arial;
}
body .app .cards .card_container .content .v_c {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
body .app .cards .card_container .content .v_c .value {
  margin-left: auto;
  font: normal normal bold 30px/34px Arial;
}
body .app .cards .card_container .content .v_c .label {
  font: normal normal normal 16px/18px Arial;
  letter-spacing: 0px;
  color: #3c3c3c;
}
body .app .cards .card_top {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  opacity: 1;
  position: absolute;
  width: 231px;
  left: 13px;
  top: 0;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 44px/50px Arial;
  letter-spacing: 0px;
  color: #4f5bd5;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
body .app .cards .card:hover .card_top {
  top: -33px;
}
body .app .cards .card_detail {
  display: none;
  width: 100%;
  position: absolute;
  height: 351px;
  top: 5px;
  left: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  text-align: center;
  z-index: -1;
  font: normal normal normal 13px/15px Arial;
  letter-spacing: 0px;
  color: #3c3c3c;
}
body .app .cards .card_detail .content {
  margin: 15px;
}
body .app .cards .card_detail .divider {
  border: 1px dashed #a6acba;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
body .app .cards .card_detail .divider > div {
  position: absolute;
  top: -9px;
  background: #fff;
  padding: 0 15px;
}
body .app .cards .card_detail .date_range_title {
  margin-top: 20px;
}
body .app .cards .card_detail .date_range {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
body .app .cards .card_detail .date_range input {
  border: none;
  border-bottom: 1px solid;
  text-align: center;
  max-width: 70px;
}
body .app .cards .card_detail .date_range .to {
  margin: 0 5px;
}
body .app .cards .card.active .card_top {
  background: #4f5bd5 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  color: #fff;
  top: -33px;
}
body .app .cards .card.active .card_detail {
  display: block;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  body .app .cards {
    margin: 128px 50px;
  }
}
@media only screen and (max-width: 640px) {
  body .app .cards {
    margin: 128px 0;
  }
}
@media only screen and (max-width: 480px) {
  body .app .cards {
    margin: 128px 0;
  }
}

/*# sourceMappingURL=style.css.map */
